
    {% extends "base.html" %} {% block body %}

    <ul>
        <li class="xsmall"></li>
        <li class="big">
            <img src="../13.png" alt="Image 1">
        </li>
        <li class="xsmall"></li>
        <li class="small">
            <img src="../11.png" alt="Image 2">

        </li>
        <li class="big"></li>
        <li class="small">
            <img src="11.png" alt="Image 3">

        </li>
        <li class="med">
        </li>
        <li class="xsmall">

        </li>
        <li class="small"></li>
        <li class="xsmall">
            <img src="11.png" alt="Image 1">

        </li>
        <li class="med">
            <img src="11.png" alt="Image 1">

        </li>
        <li class="small">
            <img src="11.png" alt="Image 1">

        </li>
        <li class="med">
           

        </li>
        <li class="big">
            <img src="11.png" alt="Image 1">

        </li>
       
        
        
               
        
        </ul>
        {% endblock %}
