{% extends "base.html" %} {% block body %}

<div class="container text-center mt-3">


  <div class="row justify-content-between my-2 px-2">
    <div class="col-md-12">
      <table class="table table-borderless table-sm">
        <thead class="sticky-top bg-white">
          <tr class="my-border">
            <th class="text-center pt-4 pb-1">Sheet ID</th>
            <th class="text-start pt-4 pb-1">Student Id</th>
            <th class="text-start pt-4 pb-1">Course Id</th>
            <th class="text-center pt-4 pb-1">Teacher Id</th>
            <th class="text-center pt-4 pb-1">Date</th>
            <th class="text-center pt-4 pb-1">Lecture Number</th>
            <th class="text-center pt-4 pb-1">Status</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td colspan="13" class="py-1"></td>
          </tr>
          <tr class="row-color">
            <td class="text-center font-weight-bold round-left">Sheet Id</td>
            <td
              class="text-start"
             
            >
              RollNum Id
            </td>
            <td class="text-start">Course Id</td>
            <td class="px-4">Techer Id</td>

            <td class="text-center">
              <div class="mr-0 ml-2"><span>Date</span></div>
            </td>
            <td class="text-center">
              <div class="mr-0 ml-2"><span>lecture number</span></div>
            </td>
            <td class="text-center">
              <div class="mr-0 ml-2"><span>P</span></div>
            </td>

            
              
              

             
            </td>

            <td class="text-center round-right">
              
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
</div>

{% endblock %}
